/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media only screen and (max-width: 720px) {
    header { 
        display: flex;
        background-color:#F7C59F;
        padding: .5rem;
        text-align: center;
        font-family: 'Concert One', cursive;
    }
    
    .headertext{
        display: inline-block;
        vertical-align: middle;
        padding:2rem;
    }
    
    .headertext h1{
        font-size: 5vw;
        font-family: 'Cairo', sans-serif;
        color: #767b91;
    }
    
    .subheading{
        font-size: 2vw;
        color: #767b91;
        font-style: italic;
    }

    .currentconditions{
        display: none;
    }
    
    #currentword{
        display:inline-block;
    }
    
    header img{
        vertical-align: middle;
        display:inline-block;
        width:125px;
        height:125px;
    }
    
    body{
        font-family: 'Concert One', cursive;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    li {
        display: inline;
        padding: 30px;
        text-align: center;
        color: #767b91;
    }
    
    h2{
        text-align: center;
        font-family: 'Chakra Petch', sans-serif;
        color: #767b91;
        font-size: 7vw;
    }
    
    nav button{
        margin: .2rem 2%;
        background-color: transparent;
        border: none;
        font-size: 1.6rem;
        color: #555;
    }

    nav{
        padding:1rem;
        background-color:#CF9365;
    }

    nav ul {
        list-style-type: none;
        padding:0;
        margin:0;
    }

    nav ul li a{
        display: block;
        padding: .8rem 2%;
        text-decoration: none;
        color: #000;
        border-top:1px solid rgba(0,0,0,0.3);
    }

    nav ul li.active a{background-color: rgba(0, 0, 0, 0.2); color: #fff;}

    nav ul li a:hover {background-color: rgba(0, 0, 0, 0.4);}

    nav ul.hide {display:none;}
    .content {
        max-width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
    .top-box{
        background-image: url("../images/preston-hero.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        border: 1px solid black;
    }
    
    .weathersummary{
        border: 1px solid black;
        width: 27%;
        height: 60%;
        margin: 30px;
        text-align:center;
        font-size:2vw;
        background-color: #c0c2cf;
    }
    
    .label{
        display:inline;
    }
    
    .value{
        display:inline;
    }

    .forecast{
        display: none;
    }
    
    table{
        margin: auto;
    }
    
    .town-info{
        margin-top:2rem;
        height: auto;
        background-color: #FFF0E5;

    }
    
    #town-article{
        padding:.5rem;
        margin:.5rem;
        height: auto;
        width:50%;
    }
    
    #town-photo{
        padding:.5rem;
        margin-top:1rem; 
        margin-right: 4rem;
        width: 80%;
    }
    
    #bottom-box{
        background-color: #FFDFC7;
        margin-top:4rem;
        height: 275px;
    }
    #contact{
        margin-top:5rem;
        width:100%;
        height: 40%;
        text-align: center;
    }
    
    #town-map{
        margin:1rem;
        width: 40%;
        height: 40%;
    }
    
    footer{
        height:75px;
        max-width: 70%;
        background-color:#F7C59F;
        margin-right:auto;
        margin-left:auto;
        text-align:center;
        padding:.2rem;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        background-color: #2196F3;
        padding: 10px;
    }
    
    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 1rem;
        text-align: center;
    }
      
    .grid-container img{
        width:90%;
    }
}

